.outer{
    width: 700px;
    height: 1000px;
    margin: 0px auto;
}
.outer h1{
    text-align: center;
}
.outer h2{
    padding-left: 20px;
    color: cornflowerblue;
}
.outer p, li{
     font-size: 15px;
     padding-left:15px;
}

.border{
    margin:auto;
    padding-left: 250px;
    background-color: cornflowerblue;
    border: 1px solid black;
    font-weight: bold;
}
.outer{
    padding-left: 25px;
}
.outer h4{
    text-align:right;
}
